# 默认忽略所有文件夹
*/

# 允许上传 resources 和 src 文件夹及其所有内容
!resources/
!resources/**
!src/
!src/**
!仅供参考-不可修改/
!仅供参考-不可修改/**
!clipboard-extension/
!clipboard-extension/**
!Eagle/
!Eagle/**
!旧版本/
!旧版本/**
!旧版本-1/
!旧版本-1/**
!旧版本-2/
!旧版本-2/**
!旧版本-3/
!旧版本-3/**
!旧版本-4/
!旧版本-4/**
!旧版本_完整版/
!旧版本_完整版/**
!参考版_不可修改/
!参考版_不可修改/**
!ArcMeta-1/
!ArcMeta-1/**
!ArcMeta-2/
!ArcMeta-2/**
!ArcMeta-3/
!ArcMeta-3/**
!ArcMeta-4/
!ArcMeta-4/**
!Old_Full_version/
!Old_Full_version/**
!Template/
!Template/**


# 忽略构建目录
build/
build-*/
Z 作废/
Z 作废-*/
J 禁止上传/
J 禁止上传-*/
backups/
backups-*/
.vs-*/
.vs/
.qtcreator/
OCR/

# 忽略 Qt Creator 配置
.qtcreator/
*.pro.user
*.qbs.user
*.creator.user
*.creator
*.user

# 忽略临时文件
*.obj
*.o
# *.log
*.cache
*.tmp
*.bak
*.db
*.exe
*.zip
*.dll
*.dat

# 忽略 CMake 生成内容
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 忽略 VS 相关
*.pdb
*.ilk
*.idb
*.suo
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
